{
  "profiles": {
    "Hoard2": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "environmentVariables": {
        "DOTNET_ENVIRONMENT": "Development",
        "PROJECT_HOARD_TOKEN": "ChangeMe"
      }
    }
  }
}
